node_modules/*

servers/minecraft-java/*
!servers/minecraft-java/server.jar
!servers/minecraft-java/eula.txt
!servers/minecraft-java/server.properties
!servers/minecraft-java/VERSION.md

servers/minecraft-bedrock/*
!servers/minecraft-bedrock/*.zip
!servers/minecraft-bedrock/VERSION.md

servers/terraria/*
!servers/terraria/*.zip

package-lock.json
.DS_Store

!modules/ffmpeg/README.md
.vscode/*

frp/*.ini

dist/*
app/node_modules/*
app/dist/*

appx/node_modules/*
appx/dist/*

servers/bitwarden/data/*
!servers/bitwarden/data/README.md

terraria/*
