node_modules/*

servers/minecraft-java/*
!servers/minecraft-java/server.jar
!servers/minecraft-java/eula.txt
!servers/minecraft-java/server.properties
!servers/minecraft-java/VERSION.md

servers/minecraft-bedrock/*
!servers/minecraft-bedrock/*.zip
!servers/minecraft-bedrock/VERSION.md

package-lock.json
.DS_Store

.vscode/*

frp/*.ini

dist/*

servers/bitwarden/data/*
servers/bitwarden/web-vault/*
servers/bitwarden/.env
servers/bitwarden/VERSION.md
servers/bitwarden/WEB-VAULT-VERSION.md

!servers/bitwarden/data/README.md
